.header{text-align: center;
    padding: 5px;
    border-radius: 8px;
    background-color: #003366;}

footer{text-align: center;
     color: white;
     line-height: 1px;
     background-color: #003366;
     font-size: smaller ;
     padding: 10px;}    

h4{padding: 0px;
    color: rgb(224, 166, 89);
    font-weight: bold;
    background-color: #003366;}

h6{font-size: 16px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 3px;
    text-transform: uppercase;}

h5{line-height: 0px;text-align:center }

.logo{width: 60px;height: 60px;}

body{margin: 3px;background-color:#f2f6f8 ;word-spacing: 1px;
    padding: 0px;}

.nav{display: flex;margin: 5px;text-wrap: wrap;
    justify-content: space-between;}

.a{text-decoration: none;
    color: darkred;
    border-radius: 5px;
    padding: 5px;}
.a:hover{background-color: #003366;}

.b{color: darkred;text-decoration: none;
    border-radius: 5px;
    padding: 5px;}
.b:hover{background-color:  rgb(224, 166, 89);}

hr{margin-left: 10px;margin-right: 10px;}

.article{background: #ffffff;
    margin-bottom: 50px;
    text-align: justify;
    padding: 2px;
    padding-bottom: 10px;}

.img{width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    display: block;}

.date{text-align: center;font-weight: 500;
     margin-top: 3px;
     color: black;
     font-size: 11px;'Courier New', Courier, monospace;}

.vidio{ width:100%;
    height: auto
    ;margin-top: 10px;
    max-width: 100%;}

a{text-decoration: none;
    color:black;}

.recent{display: flex;
    font-weight: bold;
    gap: 5px;
    padding: 10px;
    background: #ffffff;
    margin-bottom: 20px;}
    
.icon{font-size: 16;
    margin-left: 3px;
    margin-bottom: 5px;}

span{color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;}

    
#img{padding: 10px;
    width: 100px;
    height: 100x;}



















































.comment{background: #ffffff;
    padding: 2px;
    text-align: center;
    border-radius: 0px 80px 0px 80px;
    margin-bottom: 20px;}